:root {
    --primary-color: rgb(75, 73, 73);
    --secondary-color: #024970;
    --tertiary-color: #39a6b2;
  }
  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  

  /* HEADER / NAV BAR STYLES START */
  
  header {
    padding: 20px 35px 20px 0px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
  }
  
  header h1 {
    background-color: var(--tertiary-color);
    padding: 0 0 0 60px;
  }
  
  header a {
    font-weight: bold;
    text-decoration: none;
    margin: 0;
    font-size: 3vw;
    color: var(--primary-color);
  }
  
  header nav {
    margin: 7px 0;
  }
  
  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  
  header nav ul li a {
    padding: 10px 15px;
    font-weight: bold;
    font-size: 1.7vw;
    text-decoration: underline;
    color: var(--tertiary-color);
  }
  
  header nav ul li a:hover {
    background: var(--tertiary-color);
    color: var(--primary-color);
    border-radius: 15px;
    text-shadow: none;
  }
  
  /* HEADER / NAVBAR STYLES END */
  
  

  /* HERO STYLES START */
  .hero {
    background-image: url('../assets/images/technology-background.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: fixed;
    background-position: 80%;
    text-align: right;
    height: 200px;
  }
  

  .hero h2 {
    font-size: 5vw;
    color: var(--secondary-color);
    background-color: var(--tertiary-color);
  }
  
  /* HERO STYLES END */
  


/* Style the body */
  body {
    color: var(--secondary-color);
    background-color: gainsboro;
    font-family: Helvetica, Arial, sans-serif;
}



    /* STYLE ALL SECTION TAGS */


  /* SECTION TITLE STYLES START */
  .section-title {
    font-size: 3vw;
    padding-right: 40px;
    border-right: 4px solid var(--secondary-color);
  }
  /* SECTION TITLE STYLES END */
  

  /* About Me Styles */
  
  .intro{
    margin: 50px auto;
    padding: 30px 60px 30px 60px;
    width: 100%;
    display: flex;
  }

  .intro h2{
    font-size: 3vw;
    text-align: center;
    border-right: 4px solid var(--secondary-color);
  }

  .intro p{
    flex: 2 80%;
    display: flex;
    flex-wrap: wrap;
    font-size: 1.5vw;
    justify-content: space-between;
    padding: 0 60px 0 60px;
  }
  /* About me styles end */
  

    /* work beginning */
.projects {
    margin: 50px auto;
    padding: 30px 0px 30px 60px;
    display: flex;
}

.projects h2 {
    font-size: 3vw;
    text-align: center;
    border-right: 4px solid var(--secondary-color);
}

.flex-container {
    display: flex;
}

.containers h3 {
    font-size: 2vw;
    color: var(--secondary-color)
}

.containers p {
    font-size: 1.5vw;
    color: var(--secondary-color)
}

.container img {
    width:  100%;
    height: 150px;
    border: 1mm solid var(--tertiary-color);
}

.container a{
    width:  100%;
    height: 150px;
}

.containers {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding: 40px;
  }

.container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    
  }

.container:hover {
    background: var(--tertiary-color);
    color: var(--primary-color);
    border-radius: 15px;
    opacity: .5;
  }

  .container1 {
    flex: 1 100%;
  }

  .container2 {
    flex: 2 50%;
  }

  .container3{
    flex: 3 50%;
  }

  .container4 {
    flex: 2 50%;
  }

  .container5{
    flex: 3 50%;
  }

  .text {
    position: absolute;
    bottom: 20px;
    background-color:var(--tertiary-color);
    padding-left: 20px;
    padding-right: 20px;
  } 

  /* work end */
  
    /* FOOTER STYLES START */
    footer {
        margin: 50px auto;
        padding: 30px 60px 30px 60px;
        width: 100%;
        display: flex;
        color: var(--secondary-color);
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
      }
    
      footer h2 {
          flex: 1 20%;
          text-align: left;
          font-size: 3vw;
          border-right: 4px solid var(--secondary-color);
      }
    
      footer div {
          flex: 2 80%;
          display: flex;
          flex-wrap: wrap;
          font-size: 1.5vw;
          justify-content: space-between;
          padding: 0 60px 0 60px;
        }

      footer a {
        color: var(--secondary-color);
        font-weight: bold;
      }
      /* END FOOTER STYLES */
  

  /* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
  @media screen and (max-width: 980px) {

  
  .containers {
    max-width: 80%;
    }

  .container1 img{
    max-width: 100%;
  }


    footer {
        padding: 0px 0px 0px 30px;

    }
  
     }
  
  /* MEDIA QUERY FOR TABLETS AND SMALLER */
  @media screen and (max-width: 768px) {
  }
  
  /* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
  @media screen and (max-width: 575px) {
    header h1 a{
        flex: 1 30%;
        font-size: 2vw;
    }

    header nav {
        flex: 2 70%;
        display: block;
    }

    section {
        padding: 0px 0px 0px 0px;
    }

    .hero {
        height: 60px;
        text-align: center;
        padding: 20px;
    }

    footer {
        flex-wrap: nowrap;
    }
    }